/* Import Google font - Poppins */
.wrapper3 {
  max-width: 1100px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the wrapper2 inside the page */
}

.wrapper3 i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper3 i:active{
  transform: translateY(-50%) scale(0.85);
}

.wrapper3 i:first-child{
  left: 0px;
}

.wrapper3 i:last-child{
  right: 0px;
}

.wrapper3 .carousel3{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 3vw;
  border-radius: 3vw;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel3::-webkit-scrollbar {
  display: none;
}

.carousel3.no-transition {
  scroll-behavior: auto;
}

.carousel3.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel3.dragging .card3 {
  cursor: grab;
  user-select: none;
}

.carousel3 :where(.card3, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel3 .card3 {
  scroll-snap-align: start;
  height: auto;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.carousel3 .card3 .img {
  background: #ffffff;
  width: 100%;
  border-radius: 0%;
  object-fit: cover;
  object-position: center;
  margin-left: 2%; /* Added a small bias to the right in the image position */
  max-width: 100%; /* Make the image responsive */
}

.carousel3 .card3 h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 0px 0 0px;
}

.carousel3 .card3 span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 1900px){
  .wrapper3 {
    max-width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the wrapper2 inside the page */
  }

  .wrapper3 .img {
    width: 100%; /* Resize the image for smaller screens without keeping the aspect ratio */
  }

  .carousel3 .card3 .img {
    object-fit: contain; /* Change object-fit to fill to prevent images from being cropped */
  }
}